.DS_Store

application/config/config.php
application/config/database.php
application/config/routes.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

grab/cache/bi.html
grab/cache/mandiri.html
grab/cache/pajak.html
grab/cache/result_bi.json
grab/cache/result_mandiri.json
grab/cache/result_pajak.json